@charset "utf-8";
/* JOE UI Styles */

.joe-overlay{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.joe-block,.joe-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.joe-overlay{
	background-color: rgba(0,0,0,.7);
	z-index: 100;
	display:none;
}

/*-------------------------
	UI Overlays
-------------------------*/	

.joe-overlay.active{
	display:block;
}

/*-------------------------
	UI Panels
-------------------------*/	
.joe-overlay-panel {
	background: #eee;
	position:absolute;
	top:20px;
	left:20px;
	bottom:20px;
	right:20px;
	box-shadow:0 0 4px 0 rgba(0,0,0,.7)
}

.joe-panel{
	position:relative;
}

/*-------------------------
	UI Panel Header
-------------------------*/	
.joe-panel-header{
	height:40px;
	position:relative;
	background-color: rgba(0,0,0,.1);
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
}

.joe-panel-close{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    background: #ddd;
	background-color: rgba(0,0,0,.1);
    /* padding: 0 10px; */
    font-size: 14px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.joe-panel-close:hover{
    background: #ccc;
}

.joe-panel-title{
    font-weight: bold;
    padding: 5px;
    color: #007ac2;
}

/*-------------------------
	UI Panel Content
-------------------------*/	
.joe-panel-content {
	min-height:50px;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 5px;
	right: 5px;
	overflow: auto;
}
.joe-panel-content.joe-inset{
	background:#fff;
	box-shadow:inset 0 0 3px 0 rgba(0,0,0,.5);
	border:1px solid #efefef;
}


.joe-panel-content-option {
    /* height: 40px; */
    /* line-height: 40px; */
    padding: 10px 10px;
    position: relative;
    /* min-height: 30px; */
    cursor: pointer;
    font-size: 14px;
	clear:both;
}
.joe-panel-content-option:hover {
    background-color: rgba(0,0,0,.1);
}
/*-------------------------
	UI Panel Content Types
-------------------------*/
	.joe-text-content{
		padding:20px;
	}
	
/*-------------------------
	UI Panel Object Content
-------------------------*/	
/*.joe-field-label {
	padding: 5px 10px;
	display: inline-block;
	width: 100px;
}*/
.joe-field-label {
	padding: 0 4px;
	display: inline-block;
	position: absolute;
	top: -10px;
	background-color: #fff;
	left: 5px;
}
	
/*-------------------------------------------------------------------->
	Editor Form 
<--------------------------------------------------------------------*/		
/*.joe-object-field{
	margin: 5px;
	border: 1px solid #f2f2f2;
	padding: 5px 0;
}*/
.joe-object-field{
	margin: 10px 5px;
	border: 1px solid #f2f2f2;
	padding: 8px 6px;
	position: relative;
}
.joe-object-field.hidden{
	display:none;
}
.joe-object-field input[type=text] {
	padding: 4px;
	width: 300px;
}	
/*-------------------------------------------------------------------->
	1 | Footer
<--------------------------------------------------------------------*/	
.joe-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.joe-footer-button {
    float: right;
    padding: 8px 16px;
    margin: 5px;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    cursor: pointer;
}
.joe-footer-button:hover {
    background-color: rgba(255,255,255,1);
}