@charset "utf-8";
/* JOE UI Styles */

.clear{
	clear:both;
}

.joe-no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.joe-overlay{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.joe-block,.joe-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.joe-overlay{
	background-color: rgba(0,0,0,.7);
	z-index: 2000;
	display:none;
	position: fixed;
    transition: .25s;
}

@-webkit-keyframes fadeOut {
    0%   {background-color: rgba(0,0,0,.7);}
    100% {background-color: rgba(0,0,0,0);}
}

/* Standard syntax */
@keyframes fadeOut {
    0%   {background-color: rgba(0,0,0,.7);}
    100% {background-color: rgba(0,0,0,0);}
}

.joe-overlay.fade-out{
    -webkit-animation: fadeOut .25s linear ; /* Chrome, Safari, Opera */
    animation: fadeOut .25s linear ;

    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

.joe-overlay.fade-in{
    -webkit-animation: fadeOut .25s linear; /* Chrome, Safari, Opera */
    animation: fadeOut .25s linear;

    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-direction: reverse;
}

.joe-icon{
	background-position:center center;
	background-repeat:no-repeat;
}
/*-------------------------
	JOE Button
-------------------------*/
.joe-panel-menu {
	padding: 0 1px 2px 1px;
}
.joe-button {
    padding: 8px 16px;
    margin: 5px;
    background-color:#fcfcfc;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,.3);
	cursor: pointer;
	transition: .2s;
}
.joe-button:hover{
	background-color: #f0f0f0;
}

.joe-button.center{text-align:center;}
.joe-button.right{text-align:right;}

.joe-confirm-button,.joe-green-button{background:#6BB476;}
.joe-confirm-button:hover, .joe-green-button:hover{background:#5BD16D;}

.joe-orange-button{background-color:#ff8804;}
.joe-orange-button:hover{background-color:#F93}

.joe-blue-button{background-color:#336699}
.joe-blue-button:hover{background-color:#447799;}

.joe-right-button,
.joe-footer-button {
    float: right; 
}

.joe-left-button,
.joe-delete-button {
	float: left;
}

/*-------------------------
	UI Overlays
-------------------------*/	

.joe-overlay.active{
	display:block;
}
.joe-overlay.compact{
	text-align:center;
}
/*-------------------------
	UI Panels
-------------------------*/	
.joe-overlay-panel {
	background: #eee;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	box-shadow:0 0 4px 0 rgba(0,0,0,.7);
    margin:10px;
    transition: .25s;
}
.joe-overlay-panel.offscreen-bottom{
    top:110%;
    bottom:-100px;
}
.joe-overlay-panel.centerscreen-collapse{
    top:50%;
    bottom:50%;
    overflow:hidden;
}

.joe-panel{
	position:relative;
}

.joe-mini-panel {
	margin: 100px auto;
	box-shadow: 0 0 20px 1px #000;
	position: relative;
	min-height: 250px;
	background: #eee;
	width: 60%;
	min-width:300px;
	display:none;
}
.joe-mini-panel.active{
	display:block;
}
/*-------------------------
	UI Panels Floating
-------------------------*/	

.compact .joe-overlay-panel {
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	position: relative;
	width: 50%;
	margin: 20px auto;
	height: 80%;
	text-align: left;
	min-width: 340px;
}

/*-------------------------------------------------------------------->
	UI Panel Header
<--------------------------------------------------------------------*/
.joe-panel-header{
	height:40px;
	position:relative;
	background-color: rgba(0,0,0,.1);
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
}

.joe-panel-close{
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	font-size: 14px;
	width: 30px;
	text-align: center;
	cursor: pointer;
	height: 28px;
	background: url(../img/close-x.png) center center no-repeat;
	background-color: #DDD;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 5px;
	border: 1px solid #AAA;
}
.joe-panel-close:hover{
    background-color: #ccc;
}

.joe-panel-title{
    font-weight: bold;
    padding: 5px;
    color: #007ac2;
	line-height:30px;
}

.joe-header-back-btn{
	float: left;
	width: 40px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	border-right: 1px solid #bbb;
	margin: 5px 0;
	padding-right: 5px;
	margin-right: 10px;
	color: #888;
}
.joe-header-back-btn:hover{
	background:#bbb;
}
/*-------------------------
Subset Selector
-------------------------*/	
.joe-subset-selector {
    line-height: 40px;
    padding: 0 10px;

    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 50px;
    min-width: 120px;
}

.joe-subset-selector .selector-option{
    background: rgba(0,0,0,.2);
	padding:0 10px;
}
.joe-subset-selector .selector-option:hover{
    background: rgba(0,0,0,.4);	
}
.joe-subset-selector .selector-label{
    background: rgba(0,0,0,.2);
	    padding-right: 30px;
}

.joe-subset-selector .selector-options{
	display:none;
}
.joe-subset-selector.active .selector-options{
	display:block;
}


/*------------------------------------------------------------------
	UI Panel Content
------------------------------------------------------------------*/
.joe-panel-content {
	min-height:50px;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 5px;
	right: 5px;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.joe-panel-content.joe-inset{
	background:#fff;
	box-shadow:inset 0 0 3px 0 rgba(0,0,0,.5);
	border:1px solid #efefef;
}

/*---------------------------------------
	Panel Submenu
---------------------------------------*/
.joe-panel-content.with-submenu{
top:80px;
}

.joe-panel-submenu {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    height: 30px;
    margin: 4px 5px;
    line-height: 30px;
}

input.joe-submenu-search-field {
    padding: 4px;
    width: 25%;
}

/*-------------------------
	List Options
-------------------------*/	
.joe-panel-content-option {
    /* height: 40px; */
    /* line-height: 40px; */
    /*padding: 10px 10px 10px 10px;*/
    position: relative;
    /* min-height: 30px; */
    cursor: pointer;
    font-size: 14px;
	clear:both;
}
.joe-panel-content-option.striped{
    /*padding-left:10px;*/
}
/*.joe-panel-content-option:hover {
    background-color: rgba(0,0,0,.1);
}*/
.joe-panel-content-option.selected{
	 background-color: rgba(0,100,200,.1);
}
.joe-panel-content-option-stripe {
    position: absolute;
    left: 1px;
    width: 5px;
    top: 3px;
    bottom: 3px;
    opacity: .8;
}
/*-------------------------
	List Option content
-------------------------*/
.joe-panel-content-option-content {
    padding: 10px 10px 10px 10px;
}
.joe-panel-content-option-content:hover {
    background-color: rgba(0,0,0,.1);
}

/*-------------------------
	List Option Buttons
-------------------------*/
.joe-panel-content-option-button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.joe-panel-content-option-button:hover{
    background-color: rgba(0,0,0,.1);
}


/*-------------------------
	UI Panel Content Types
-------------------------*/
	.joe-text-content{
		padding:20px;
	}

/*-------------------------
	Boolean field
-------------------------*/
input.joe-boolean-field {
    float: left;
    margin: 5px;
}
.boolean-field small {
    padding: 5px;
    color: #667;
}
/*-------------------------
	UI Panel Object Content
-------------------------*/	
/*.joe-field-label {
	padding: 5px 10px;
	display: inline-block;
	width: 100px;
}*/
.joe-field-label {
	padding: 0 4px;
	display: inline-block;
	position: absolute;
	top: -12px;
	background-color: #fff;
	left: 5px;
}
	
/*-------------------------------------------------------------------->
	Editor Form 
<--------------------------------------------------------------------*/	
.joe-object-content {
	padding-top: 10px;
}	
/*.joe-object-field{
	margin: 5px;
	border: 1px solid #f2f2f2;
	padding: 5px 0;
}*/
.joe-object-field{
	margin: 10px 5px;
	border: 1px solid #f2f2f2;
	padding: 8px 6px;
	position: relative;
}
/*-------------------------
	Label
-------------------------*/
.joe-content-label {
    background-color: rgba(0,40,80,.15);
    padding: 5px 10px;
    margin: 15px 0 15px 0px;
     font-weight: bold;
    clear: both;
    /*font-size: 1.1em;*/
    /* padding: 0 10px; */
}

/*-------------------------
	Multiedit
-------------------------*/	

.joe-field-multiedit-toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #DDD;
	margin: 8px;
	cursor: pointer;
	background: #EFEFEF;

}
.joe-object-field.multi-selected{
		border-color:#007ac2;
}

.multi-selected .joe-field-multiedit-toggle{
	background:rgba(0,100,200,.4)
}

.joe-object-field.hidden{
	display:none;
}
.joe-object-field input[type=text] {
	padding: 4px;
	width: 300px;
}
.joe-object-field input[type=text].joe-url-field {
    width: 80%;
    margin: 5px 0 0 0;
}

.joe-object-field .joe-button {
    /* max-width: 200px; */
    /* margin: 5px auto; */
    color: blue;
    background-color: #eee;
    float: right;
    margin: 0;
}
.joe-object-field .joe-button:hover{
    background-color:#ddd;
}
.joe-object-field input[type=text].joe-number-field {
	width: 200px;
}
.joe-object-field input[type=text].joe-int-field {
	width: 100px;
}

.joe-select-field {
    min-width: 280px;
    padding: 4px;
}

/* Rendering */
.joe-object-field.rendering-field {
	min-height: 250px;
}


textarea.joe-rendering-field{
/*	padding: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	width: 60%;
	min-width: 304px;*/
	padding: 1%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 96%;
	min-width: 304px;
	margin: 1%;
}

/* Geo */
.joe-geo-map {
	height: 250px;
	margin-bottom: 10px;
	width: 100%;
	position: relative;

}

/* Autocomplete */
.joe-text-autocomplete {
    position: absolute;
    z-index: 1001;
    background: #eee;
    width: 312px;
	display:none;
}
.joe-text-autocomplete.active{
	display:block;
}
.joe-text-autocomplete-option {
    padding: 5px;
    cursor: pointer;
	display:none;
}
.joe-text-autocomplete-option.visible{
	display:block;
}
.joe-text-autocomplete-option:hover {
    background: #ccc;
}

/*-------------------------
	J | MultiSorter
-------------------------*/	



.joe-multisorter-bin{
	width: 48%;
	background: #EEE;
	min-height: 100px;
	float: left;
	margin: 0 1%;
	list-style: none;
	max-height: 500px;
	overflow: auto;
}
.joe-multisorter-bin li,
.joe-buckets-bin li {
	/*line-height: 30px;*/
	min-height: 30px;
	padding: 5px;
	cursor: move;
	position:relative;
}
.joe-multisorter-bin li:hover,
.joe-buckets-bin li:hover{
	background:rgba(0,0,0,.1);
}


/*-------------------------
	k | Buckets
-------------------------*/	
.joe-buckets-field-holder{
float:left;
}

.joe-buckets-bin{
	background: #EEE;
	min-height: 100px;
	margin: 0 1%;
	list-style: none;
	max-height: 500px;
	overflow: auto;
}

.joe-buckets-bin.selections-bin{
	float: left;
	width: 31%;
	margin-bottom: 10px;
}

.joe-bucket-delete {
	left:auto;
	width: 30px;

	background-image: url(../img/close-x.png);
	display:none;
	margin: 5px;
	cursor: pointer;
}
.joe-bucket-delete:hover{
	background-color: #DDD;
	background-color: rgba(0,0,0,.1);
}
.joe-buckets-bin.selections-bin .joe-bucket-delete{
	display:block;
}

/*-------------------------
	i | Image
-------------------------*/
input.joe-image-field{
	width: 90% !important;
}
.joe-image-field-image {
	margin: 15px 0 10px 0;
	display: block;
}
.joe-image-field-size {
	margin: 10px 0;
	opacity: .5;
	display: block;
}
/*----------------------------->
	Field Container
<-----------------------------*/
.joe-field-container{
	float:left;
	min-width:320px;
}

/*-------------------------
	 Filter Field
-------------------------*/	
.joe-filter-field-holder {
    padding: 5px 1%;
}
.joe-filter-field-holder input {
    max-width: 46% !important;
	padding-left: 30px !important;
	background:url(../img/search.png) center left no-repeat;
}
/*buckets*/
.joe-buckets-field .joe-filter-field-holder {
padding: 5px 3px;
}
.joe-buckets-field .joe-filter-field-holder input {
max-width: 24% !important;
}


/*-------------------------------------------------------------------->
	4 | Footer
<--------------------------------------------------------------------*/	
.joe-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.joe-multi-only{
	display:none;
}

.multi-edit .joe-multi-only{
	display:block;
}



/*-------------------------------------------------------------------->
	From the Datepicker file, thanks zebra
<--------------------------------------------------------------------*/
/*

    Zebra_DatePicker: a lightweight jQuery date picker plugin

    Default theme

    copyright (c) 2011 - 2014 Stefan Gabos
    http://stefangabos.ro/jquery/zebra-datepicker/

*/

.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before  { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important }

.Zebra_DatePicker           { position: absolute; background: #007ac2; border: 3px solid #007ac2; z-index: 2001; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; }

.Zebra_DatePicker *         { margin: 0; padding: 0; color: #000; background: transparent; border: none }

/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker table                      { border-collapse: collapse; border-spacing: 0; width: auto; table-layout: auto; }

.Zebra_DatePicker td,
.Zebra_DatePicker th                         { text-align: center; padding: 5px 0 }

.Zebra_DatePicker td                         { cursor: pointer }

.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker             { margin-top: 3px }

.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td         { background: #E8E8E8; width: 30px; border: 1px solid #7BACD2 }

.Zebra_DatePicker,
.Zebra_DatePicker .dp_header .dp_hover,
.Zebra_DatePicker .dp_footer .dp_hover { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px }

/* = VISIBLE/HIDDEN STATES (USE TRANSITIONS FOR EFFECTS)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker.dp_visible               { visibility: visible; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; transition: opacity 0.2s ease-in-out }
.Zebra_DatePicker.dp_hidden                { visibility: hidden; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0; opacity: 0 }

/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header td             { color: #FFF }

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next       { width: 30px }

.Zebra_DatePicker .dp_header .dp_caption    { font-weight: bold }
.Zebra_DatePicker .dp_header .dp_hover      { background: #222; color: #FFF }

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th              { background: #FFCC33 }
.Zebra_DatePicker td.dp_not_in_month            { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_not_in_month_selectable { background: #F3F3F3; color: #CDCDCD; cursor: pointer }
.Zebra_DatePicker td.dp_weekend                 { background: #D8D8D8 }
.Zebra_DatePicker td.dp_weekend_disabled        { color: #CCC; cursor: default }
.Zebra_DatePicker td.dp_selected                { background: #5A4B4B; color: #FFF !important }
.Zebra_DatePicker td.dp_week_number             { background: #FFCC33; color: #555; cursor: text; font-style: italic }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td    { width: 33% }

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td     { width: 33% }

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer            { margin-top: 3px }
.Zebra_DatePicker .dp_footer .dp_hover  { background: #222; color: #FFF }

/* = SELECT CURRENT DAY
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_today { color: #FFF; padding: 3px }

/* = CLEAR DATE
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_clear { color: #FFF; padding: 3px }

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current             { color: #C40000 }
.Zebra_DatePicker td.dp_disabled_current    { color: #E38585 }
.Zebra_DatePicker td.dp_disabled            { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_hover               { background: #482424; color: #FFF }

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon                { display: block; position: absolute; width: 16px; height: 16px; background: url('../img/calendar.png') no-repeat left top; text-indent: -9000px; border: none; cursor: pointer; padding: 0; line-height: 0; vertical-align: top }
button.Zebra_DatePicker_Icon_Disabled       { background-image: url('calendar-disabled.png') }

/* don't set vertical margins! */
button.Zebra_DatePicker_Icon                { margin: 0 0 0 3px }
button.Zebra_DatePicker_Icon_Inside         { margin: 0 3px 0 0 }