@charset "utf-8";
/* JOE UI Styles */

.joe-overlay{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.joe-block,.joe-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.joe-overlay{
	background-color: rgba(0,0,0,.7);
	z-index: 1000;
	display:none;
	position: fixed;
}
/*-------------------------
	JOE Button
-------------------------*/
.joe-button {
    padding: 8px 16px;
    margin: 5px;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    cursor: pointer;
}
.joe-button:hover{
	background-color: rgba(255,255,255,1);
}

.joe-button.center{text-align:center;}
.joe-button.right{text-align:right;}
/*-------------------------
	UI Overlays
-------------------------*/	

.joe-overlay.active{
	display:block;
}
.joe-overlay.compact{
	text-align:center;
}
/*-------------------------
	UI Panels
-------------------------*/	
.joe-overlay-panel {
	background: #eee;
	position:absolute;
	top:20px;
	left:20px;
	bottom:20px;
	right:20px;
	box-shadow:0 0 4px 0 rgba(0,0,0,.7)
}

.joe-panel{
	position:relative;
}
/*-------------------------
	UI Panels Floating
-------------------------*/	

.compact .joe-overlay-panel {
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	position: relative;
	width: 50%;
	margin: 20px auto;
	height: 80%;
	text-align: left;
	min-width: 340px;
}
/*-------------------------
	UI Panel Header
-------------------------*/	
.joe-panel-header{
	height:40px;
	position:relative;
	background-color: rgba(0,0,0,.1);
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
}

.joe-panel-close{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    background: #ddd;
	background-color: rgba(0,0,0,.1);
    /* padding: 0 10px; */
    font-size: 14px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.joe-panel-close:hover{
    background: #ccc;
}

.joe-panel-title{
    font-weight: bold;
    padding: 5px;
    color: #007ac2;
	line-height:30px;
}

/*-------------------------
	UI Panel Content
-------------------------*/	
.joe-panel-content {
	min-height:50px;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 5px;
	right: 5px;
	overflow: auto;
}
.joe-panel-content.joe-inset{
	background:#fff;
	box-shadow:inset 0 0 3px 0 rgba(0,0,0,.5);
	border:1px solid #efefef;
}

/*-------------------------
	UI Panel Content List Options
-------------------------*/	
.joe-panel-content-option {
    /* height: 40px; */
    /* line-height: 40px; */
    padding: 10px 10px;
    position: relative;
    /* min-height: 30px; */
    cursor: pointer;
    font-size: 14px;
	clear:both;
}
.joe-panel-content-option:hover {
    background-color: rgba(0,0,0,.1);
}
/*-------------------------
	UI Panel Content Types
-------------------------*/
	.joe-text-content{
		padding:20px;
	}
	
/*-------------------------
	UI Panel Object Content
-------------------------*/	
/*.joe-field-label {
	padding: 5px 10px;
	display: inline-block;
	width: 100px;
}*/
.joe-field-label {
	padding: 0 4px;
	display: inline-block;
	position: absolute;
	top: -12px;
	background-color: #fff;
	left: 5px;
}
	
/*-------------------------------------------------------------------->
	Editor Form 
<--------------------------------------------------------------------*/	
.joe-object-content {
	padding-top: 10px;
}	
/*.joe-object-field{
	margin: 5px;
	border: 1px solid #f2f2f2;
	padding: 5px 0;
}*/
.joe-object-field{
	margin: 10px 5px;
	border: 1px solid #f2f2f2;
	padding: 8px 6px;
	position: relative;
}


.joe-object-field.hidden{
	display:none;
}
.joe-object-field input[type=text] {
	padding: 4px;
	width: 300px;
}	
.joe-object-field input[type=text].joe-number-field {
	width: 200px;
}
.joe-object-field input[type=text].joe-int-field {
	width: 100px;
}

.joe-select-field {
width: 314px;
}

/* Rendering */
.joe-object-field.rendering-field {
	min-height: 250px;
}


textarea.joe-rendering-field{
	padding: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
}
/*-------------------------------------------------------------------->
	4 | Footer
<--------------------------------------------------------------------*/	
.joe-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.joe-right-button,
.joe-footer-button {
    float: right; 
}

.joe-left-button,
.joe-delete-button {
	float: left;
}




/*-------------------------------------------------------------------->
	From the Datepicker file, thanks zebra
<--------------------------------------------------------------------*/	
/*

    Zebra_DatePicker: a lightweight jQuery date picker plugin

    Default theme

    copyright (c) 2011 - 2013 Stefan Gabos
    http://stefangabos.ro/jquery/zebra-datepicker/

*/

.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before  { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important }

.Zebra_DatePicker           { position: absolute; background: #666; border: 3px solid #666; display: none; z-index: 1000; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px }

.Zebra_DatePicker *         { margin: 0; padding: 0; color: #000; background: transparent; border: none }

/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker table                      { border-collapse: collapse; border-spacing: 0 }

.Zebra_DatePicker td,
.Zebra_DatePicker th                         { text-align: center; padding: 5px 0 }

.Zebra_DatePicker td                         { cursor: pointer }

.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker             { margin-top: 3px }

.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td         { background: #E8E8E8; width: 30px; border: 1px solid #7BACD2 }

.Zebra_DatePicker,
.Zebra_DatePicker .dp_header .dp_hover,
.Zebra_DatePicker .dp_footer .dp_hover { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px }

/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header td             { color: #FFF }

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next       { width: 30px }

.Zebra_DatePicker .dp_header .dp_caption    { font-weight: bold }
.Zebra_DatePicker .dp_header .dp_hover      { background: #222; color: #FFF }
.Zebra_DatePicker .dp_header .dp_blocked    { color: #888; cursor: default }

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th              { background: #FFCC33 }
.Zebra_DatePicker td.dp_not_in_month            { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_not_in_month_selectable { background: #F3F3F3; color: #CDCDCD; cursor: pointer }
.Zebra_DatePicker td.dp_weekend                 { background: #D8D8D8 }
.Zebra_DatePicker td.dp_weekend_disabled        { color: #CCC; cursor: default }
.Zebra_DatePicker td.dp_selected                { background: #5A4B4B; color: #FFF !important }
.Zebra_DatePicker td.dp_week_number             { background: #FFCC33; color: #555; cursor: text; font-style: italic }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td    { width: 33% }

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td     { width: 33% }

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer            { margin-top: 3px }
.Zebra_DatePicker .dp_footer .dp_hover  { background: #222; color: #FFF }

/* = SELECT CURRENT DAY
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_today { color: #FFF; padding: 3px }

/* = CLEAR DATE
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_clear { color: #FFF; padding: 3px }

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current             { color: #C40000 }
.Zebra_DatePicker td.dp_disabled_current    { color: #E38585 }
.Zebra_DatePicker td.dp_disabled            { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_hover               { background: #482424; color: #FFF }

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon                { display: block; position: absolute; width: 16px; height: 16px; background:url(../img/calendar.png) no-repeat left top; text-indent: -9000px; border: none; cursor: pointer; padding: 0; line-height: 0; vertical-align: top; }
button.Zebra_DatePicker_Icon_Disabled       { background-image: url('calendar-disabled.png') }

/* don't set vertical margins! */
button.Zebra_DatePicker_Icon                { margin: 0 0 0 3px }
button.Zebra_DatePicker_Icon_Inside         { margin: 0 3px 0 0 }