/*-------------------------------------------------------------------->
	STYLE: Variant1
<--------------------------------------------------------------------*/
.style-variant1 .joe-panel-content-option {
    border: 1px solid #e1e1e1;
    margin: 4px;
    background-color: #fff;
}

.style-variant1 .joe-panel-content{
    padding:0;
    background: #eee;
}